@using Thesis.Models.Data
@model IEnumerable<Device>
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Home.css" />

<div class="body-container">
    <div class="logo">
        <img src="~/img/B10msBlanco.png" class="App-logo" alt="logo" />
        <h1> | Remote devices </h1>
    </div>
    <h1 id="title">Remote devices</h1>
    @Html.Hidden("RedirectTo", Url.Action("Potentiostat", "Home", new { idDevice = Model.Where(m => m.Name == "Potentiostat").FirstOrDefault().Id, idUser = ViewBag.userId }));
     @Html.Hidden("RedirectToIA", Url.Action("ImpedanceAnalyzer", "Home", new { idDevice = Model.Where(m => m.Id == 2).FirstOrDefault().Id, idUser = ViewBag.userId }));
    <div class="container-card">
        <div class="card">
            <div class="imgBx" data-text="@Model.FirstOrDefault(x=> x.Id==1)?.Name">
                <img src="~/img/design.png" />
            </div>
            <div class="content">
                <div>
                    <h3>@Model.FirstOrDefault()?.Name</h3>
                    <p>Dispositivo para realizar mediciones electroquimicas.</p>
                    <button id="Potentiostat">@((Model.FirstOrDefault().UsedBy == 0)||(Model.FirstOrDefault().UsedBy == ViewBag.userId) ? "Open" : "Busy")</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="@Model.FirstOrDefault(x=> x.Id==2)?.Name">
                <img src="~/img/design.png" />
            </div>
            <div class="content">
                <div>
                    <h3>@Model.FirstOrDefault(x=> x.Id==2)?.Name</h3>
                    <p>Descripción de analizador de impedancias.</p>
                    <button id="ImpedanceAnalyzer">@((Model.FirstOrDefault(x=> x.Id == 2)?.UsedBy==0)||(Model.FirstOrDefault(x=> x.Id == 2).UsedBy == ViewBag.userId) ? "Open" : "Busy")</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="Equipo 3">
                <img src="~/img/launch.png" />
            </div>
            <div class="content">
                <div>
                    <h3>Equipo de laboratorio</h3>
                    <p>Breve descripcion del equipo de laboratorio.</p>
                    <button href="#">Acceder</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="imgBx" data-text="Otros">
                <img src="~/img/earn.png" />
            </div>
            <div class="content">
                <div>
                    <h3>Otros.</h3>
                    <p>Cualquier otra información adicional.</p>
                    <button href="#">Acceder</button>
                </div>
            </div>
        </div>
    </div>
    <a class="btn" href="#">
        Ver más ...
    </a>
</div>

<script type="text/javascript">
    $('#Potentiostat').click(() => {
        if ($('#Potentiostat').text() =="Open") {
            var url = $("#RedirectTo").val();
            window.location.href = url;
        }

    });
    $('#ImpedanceAnalyzer').click(()=>{
        if($('#ImpedanceAnalyzer').text()=="Open"){
            var url = $("#RedirectToIA").val();
            console.log(url);
            window.location.href = url;
        }
    });
</script>