@using Thesis.Models.Data
@model User
@{
    ViewData["Title"] = "Register";
}

<link rel="stylesheet" href="~/css/Login.css" />

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
<div class="col-12">
    <div class="App-header">
        <div class="logo-crop">
            <img src="~/img/logo-blanco.png" class="App-logo" alt="logo" />
        </div>
        <div class="box">
            @using (Html.BeginForm("Register", "Home", FormMethod.Post))
            {
                @Html.ValidationSummary(true)
                @Html.Hidden("Redirect", Url.Action("Register", "Home"));
                @Html.AntiForgeryToken()

                <h1>Register</h1>
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.ErrorMessage
                    </div>
                }
                @Html.TextBoxFor((m) => m.UserName)
                @Html.ValidationMessageFor((m) => m.UserName)

                @Html.PasswordFor((m) => m.Password)
                @Html.ValidationMessageFor((m) => m.Password)

                @Html.TextBoxFor((m) => m.Email)
                @Html.ValidationMessageFor((m) => m.Email)


                <input type="submit" value="Accept" />
                <input type="button" id="back" value="Cancel" />
            }
        </div>
    </div>

</div>

<script type="text/javascript">
    $('#regisrer').click(() => {
        var url = $("#Redirect").val();
        window.location.href = url;
    });
</script>